/*Css Reseter*/
input,select,body,h1,h2,h3,h4{
    border:none;
    background:none;
    margin:0px;
    padding:0px;
}


body {
    background-color: #fff;
    font-family: sans-serif;
}

input:focus, textarea:focus {
    outline: none !important;
}

option{
    background-color: #ebeced;
    color: #37454d;
    padding: 4px;
}

/*--------------- First Bar ------------*/

  /*First-row /Searchbar,Button*/
.hotels-page {
    width: 950px;
    margin: 0 auto;
    background-color: #ebeced;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.47);
}

    .hotels-page .search-and-filter {
        background-color: #37454d;
        color: #6c767c;
       
    }

    .hotels-page .search-and-filter .fa {
        padding: 0px 15px;
    }

    .hotels-page .search-and-filter .first-row {
        display: flex;
        padding: 5px 10px;
        height: 45px;
       
    }

    .hotels-page .search-and-filter .first-row .first-col {
        width: 85%;
        background-color: white;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .hotels-page .search-and-filter .first-row .first-col input {
        width: 100%;
        height: 100%;
        line-height: 30px;
    }

    .hotels-page .search-and-filter .first-row .second-col {            
        width: 15%;
        height: 100%;
        background-color: #007fad;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        
    }
    
    .hotels-page .search-and-filter .first-row .second-col input {
        width:100%;
        height:100%;
        cursor:pointer;
        color:#fff;
    }

 /*End of Searchbar,Button*/

   /*Second-row /Start 2xCalendar inputs and Family Rooms*/
   .hotels-page .search-and-filter .second-row {
       display: flex;
       padding: 5px 10px;
       height: 45px;
       justify-content: space-between;
   }
   .hotels-page .search-and-filter .second-row .col{
       width:32%;
       background-color: white;
       display: flex;
       align-items: center;
       border-radius: 3px;
   }
   .hotels-page .search-and-filter .second-row .col input{
       width: 100%;
       height: 100%;
   }
   .hotels-page .search-and-filter .second-row .col select{
       width: 100%;
       height: 100%;
       cursor: pointer;
   }
   .hotels-page .search-and-filter .second-row .first-col{
       border-left:solid #007fad 7px;
   }
   .hotels-page .search-and-filter .second-row .second-col{
       border-left:solid #f48f00 7px;
   }
   /*End of 2xCalendar inputs and Family Rooms*/


/*Third-row Start*/

      .hotels-page .search-and-filter .third-row{
          display: flex;
          padding: 10px 10px;
          height: 45px;
          font-size: 15px;
          justify-content: space-between;
      }

      .hotels-page .search-and-filter .third-row select{
          color:#fff;
          width:100%;
          cursor:pointer;
      }

      .hotels-page .search-and-filter .third-row .col{
          border-right: solid 1px #d2d2d2;
          padding-right: 15px;
          min-width: 136px;
      }

      .hotels-page .search-and-filter .third-row .col:last-child{
          border: none;
      }

      .hotels-page .search-and-filter .third-row .col .label{
          text-align: left;
          color: #d2d2d2;
      }

      .hotels-page .search-and-filter .third-row .first-col{
          width: 320px
      }

      .hotels-page .search-and-filter .third-row .first-col .label{
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
      }

      .hotels-page .search-and-filter .third-row .first-col input{
          width:100%;
          background: #007fad;
          -webkit-appearance: none;
          height: 5px;
          border-radius: 2px;
          display: flex;
          cursor: pointer;
      }

      .hotels-page .search-and-filter .third-row input[type=range]::-webkit-slider-thumb{
          height: 21px;
          width: 21px;
          border-radius: 50px;
          background: #d2d2d2;
          cursor: pointer;
          -webkit-appearance: none;

      }
/*Third-row End*/
/*=================== End of First Bar ===========================*/

/*---------------- Start of Second Bar ----------------------*/
/*Start / Map and Sorting Input*/
     .hotels-page .map-and-sort {
         display: flex;
         justify-content: space-between;
         padding-top: 15px;
         padding-left: 10px;
         padding-right: 10px;
     }

     .hotels-page .map-and-sort .map iframe{
         border: solid 2px #fff;
     }

     .hotels-page .map-and-sort .sorting{
         color: #37454d;
         display: flex;
         align-items: center;
     }

     .hotels-page .map-and-sort select{
         width: 250px;
         padding: 3px;
         background-color: #fff;
         border-radius: 3px;
         border: solid 1px #9ba2a6;
         cursor: pointer;
         height: 35px;
         margin: 0px 10px;
     }

     .hotels-page .map-and-sort .sorting .info-icon{
         width: 27px;
         height: 27px;
         line-height: 27px;
         text-align: center;
         background-color: #9ba2a6;
         color: #fff;
         font-size: 15px;
         font-weight: bold;
         border-radius: 15px;
         cursor: pointer;
         position: relative;
     }

     .hotels-page .map-and-sort .sorting .info-icon:hover:after{
         content: 'Click me for more information';
         position: absolute;
         width: 150px;
         top: -15px;
         left: 50px;
         background-color: #9ba2a6;
         border-radius: 7px;
         color: #fff;
     }
/*End  / Map and Sorting Input*/